[user]
	name = Maxime Bury
	email = maxime.bury@gmail.com
[help]
	autocorrect = 1
[color]
	ui = true
[core]
	autocrlf = input
	excludesfile = /Users/bowbaq/.gitignore_global
	attributesfile = /Users/bowbaq/.gitattributes
[merge]
	tool = opendiff
	defaultToUpstream = true
[push]
	default = upstream
[mergetool]
	keepBackup = true
[credential]
	helper = osxkeychain
[diff "plist"]
	textconv = plutil -convert xml1 -o -
